.password{
    &-container{
        position: relative;

    }
    &-trigger{
        position: absolute;
        top: 50%;
        right: 8px;

        transform: translateY(-50%);
        display: inline-block;
        width: 24px;
        height: 24px;
    }
}