// $primary: #665A53;
$danger: #C1434E;
$input-padding: 7px 16px 9px 16px;
$label-color: $primary;
$disabled-color: #939393;
$disabled-bg: #F3F3F3;
//--
/* form-label */
.form-label{
  font-weight: bold;
}
/* form-control */
.form-control{
    // placeholder
    &::placeholder{
      color: $placeholder;
    }
}
/* form-select */
.form-select{
    padding-right: 2.25rem;    
    color: grey;

    // 如果選取非第一個顏色就變深
    &:has(:not(option[value=""]):checked){
      color: black;         
    }
    // Option
    option{
        color: grey;  
        // 非第一個option顏色就是深的
        &:not(option[value=""]){
            color: black;   
        }
    }
}
/* 共同 */
.form-control,
.form-select{
  --bs-border-color: #{$border};
  //--
  // padding: $input-padding;  
  // Disabled
  &:disabled{
    //--
    color: $disabled-color;
    background-color: $disabled-bg;
  }
}

/* form-select icon */
.form-select.icon{
  background-size: 24px;
  background-position: right 8px center;
}
/* icon - date */
.form-select.date{
  --bs-form-select-bg-img: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_2352_3162" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2352_3162)"><path d="M5.30775 21.5C4.80258 21.5 4.375 21.325 4.025 20.975C3.675 20.625 3.5 20.1974 3.5 19.6923L3.5 6.30777C3.5 5.8026 3.675 5.37502 4.025 5.02502C4.375 4.67502 4.80258 4.50002 5.30775 4.50002H6.69225V3.15377C6.69225 2.9346 6.76567 2.7516 6.9125 2.60477C7.05933 2.4581 7.24233 2.38477 7.4615 2.38477C7.68083 2.38477 7.86383 2.4581 8.0105 2.60477C8.15733 2.7516 8.23075 2.9346 8.23075 3.15377V4.50002L15.8077 4.50002V3.13477C15.8077 2.92193 15.8795 2.74368 16.023 2.60002C16.1667 2.45652 16.3449 2.38477 16.5577 2.38477C16.7706 2.38477 16.9487 2.45652 17.0922 2.60002C17.2359 2.74368 17.3077 2.92193 17.3077 3.13477V4.50002H18.6923C19.1974 4.50002 19.625 4.67502 19.975 5.02502C20.325 5.37502 20.5 5.8026 20.5 6.30777V19.6923C20.5 20.1974 20.325 20.625 19.975 20.975C19.625 21.325 19.1974 21.5 18.6923 21.5H5.30775ZM5.30775 20H18.6923C18.7692 20 18.8398 19.9679 18.9038 19.9038C18.9679 19.8398 19 19.7693 19 19.6923V10.3078H5L5 19.6923C5 19.7693 5.03208 19.8398 5.09625 19.9038C5.16025 19.9679 5.23075 20 5.30775 20ZM5 8.80777H19V6.30777C19 6.23077 18.9679 6.16026 18.9038 6.09626C18.8398 6.0321 18.7692 6.00002 18.6923 6.00002L5.30775 6.00002C5.23075 6.00002 5.16025 6.0321 5.09625 6.09626C5.03208 6.16026 5 6.23077 5 6.30777V8.80777ZM12 14.077C11.7552 14.077 11.5465 13.9908 11.374 13.8183C11.2017 13.6459 11.1155 13.4373 11.1155 13.1923C11.1155 12.9474 11.2017 12.7388 11.374 12.5663C11.5465 12.3939 11.7552 12.3078 12 12.3078C12.2448 12.3078 12.4535 12.3939 12.626 12.5663C12.7983 12.7388 12.8845 12.9474 12.8845 13.1923C12.8845 13.4373 12.7983 13.6459 12.626 13.8183C12.4535 13.9908 12.2448 14.077 12 14.077ZM8 14.077C7.75517 14.077 7.5465 13.9908 7.374 13.8183C7.20167 13.6459 7.1155 13.4373 7.1155 13.1923C7.1155 12.9474 7.20167 12.7388 7.374 12.5663C7.5465 12.3939 7.75517 12.3078 8 12.3078C8.24483 12.3078 8.4535 12.3939 8.626 12.5663C8.79833 12.7388 8.8845 12.9474 8.8845 13.1923C8.8845 13.4373 8.79833 13.6459 8.626 13.8183C8.4535 13.9908 8.24483 14.077 8 14.077ZM16 14.077C15.7552 14.077 15.5465 13.9908 15.374 13.8183C15.2017 13.6459 15.1155 13.4373 15.1155 13.1923C15.1155 12.9474 15.2017 12.7388 15.374 12.5663C15.5465 12.3939 15.7552 12.3078 16 12.3078C16.2448 12.3078 16.4535 12.3939 16.626 12.5663C16.7983 12.7388 16.8845 12.9474 16.8845 13.1923C16.8845 13.4373 16.7983 13.6459 16.626 13.8183C16.4535 13.9908 16.2448 14.077 16 14.077ZM12 18C11.7552 18 11.5465 17.9138 11.374 17.7413C11.2017 17.5689 11.1155 17.3603 11.1155 17.1155C11.1155 16.8705 11.2017 16.6618 11.374 16.4895C11.5465 16.317 11.7552 16.2308 12 16.2308C12.2448 16.2308 12.4535 16.317 12.626 16.4895C12.7983 16.6618 12.8845 16.8705 12.8845 17.1155C12.8845 17.3603 12.7983 17.5689 12.626 17.7413C12.4535 17.9138 12.2448 18 12 18ZM8 18C7.75517 18 7.5465 17.9138 7.374 17.7413C7.20167 17.5689 7.1155 17.3603 7.1155 17.1155C7.1155 16.8705 7.20167 16.6618 7.374 16.4895C7.5465 16.317 7.75517 16.2308 8 16.2308C8.24483 16.2308 8.4535 16.317 8.626 16.4895C8.79833 16.6618 8.8845 16.8705 8.8845 17.1155C8.8845 17.3603 8.79833 17.5689 8.626 17.7413C8.4535 17.9138 8.24483 18 8 18ZM16 18C15.7552 18 15.5465 17.9138 15.374 17.7413C15.2017 17.5689 15.1155 17.3603 15.1155 17.1155C15.1155 16.8705 15.2017 16.6618 15.374 16.4895C15.5465 16.317 15.7552 16.2308 16 16.2308C16.2448 16.2308 16.4535 16.317 16.626 16.4895C16.7983 16.6618 16.8845 16.8705 16.8845 17.1155C16.8845 17.3603 16.7983 17.5689 16.626 17.7413C16.4535 17.9138 16.2448 18 16 18Z" fill="%23878B8F"/></g></svg>');
  background-image: var(--bs-form-select-bg-img) !important;
}
/* icon - eye-off */
.form-select.off{
  --bs-form-select-bg-img: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 9C4 9 5.81818 14 12 14C18.1818 14 20 9 20 9" stroke="%23878B8F" stroke-width="2" stroke-linecap="round"/><path d="M4.02767 13.3366C3.71305 13.5652 3.27271 13.4954 3.04413 13.1808C2.81555 12.8662 2.88529 12.4259 3.1999 12.1973L4.71058 11.0997L5.53834 12.239L4.02767 13.3366Z" fill="%23878B8F"/><path d="M9.21661 16.0413C9.09644 16.4111 8.6992 16.6135 8.32935 16.4933C7.9595 16.3732 7.75709 15.9759 7.87727 15.6061L8.45429 13.8302L9.79364 14.2654L9.21661 16.0413Z" fill="%23878B8F"/><path d="M19.9457 13.3371C20.2599 13.5654 20.6997 13.4957 20.928 13.1815C21.1564 12.8673 21.0867 12.4274 20.7724 12.1991L19.2635 11.1028L18.4368 12.2408L19.9457 13.3371Z" fill="%23878B8F"/><path d="M14.7797 16.0386C14.8998 16.408 15.2965 16.6102 15.666 16.4902C16.0354 16.3702 16.2375 15.9734 16.1175 15.604L15.5412 13.8301L14.2034 14.2648L14.7797 16.0386Z" fill="%23878B8F"/></svg>');
}
/* icon - eye-on */
.form-select.on{
  --bs-form-select-bg-img: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_1575_12693" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_1575_12693)"><path d="M12 15.4C13.1364 15.4 14.1023 15.0208 14.8977 14.2625C15.6932 13.5042 16.0909 12.5833 16.0909 11.5C16.0909 10.4167 15.6932 9.49583 14.8977 8.7375C14.1023 7.97917 13.1364 7.6 12 7.6C10.8636 7.6 9.89773 7.97917 9.10227 8.7375C8.30682 9.49583 7.90909 10.4167 7.90909 11.5C7.90909 12.5833 8.30682 13.5042 9.10227 14.2625C9.89773 15.0208 10.8636 15.4 12 15.4ZM12 13.84C11.3182 13.84 10.7386 13.6125 10.2614 13.1575C9.78409 12.7025 9.54545 12.15 9.54545 11.5C9.54545 10.85 9.78409 10.2975 10.2614 9.8425C10.7386 9.3875 11.3182 9.16 12 9.16C12.6818 9.16 13.2614 9.3875 13.7386 9.8425C14.2159 10.2975 14.4545 10.85 14.4545 11.5C14.4545 12.15 14.2159 12.7025 13.7386 13.1575C13.2614 13.6125 12.6818 13.84 12 13.84ZM12 18C9.78788 18 7.77273 17.4114 5.95455 16.2342C4.13636 15.0569 2.81818 13.4789 2 11.5C2.81818 9.52111 4.13636 7.94306 5.95455 6.76583C7.77273 5.58861 9.78788 5 12 5C14.2121 5 16.2273 5.58861 18.0455 6.76583C19.8636 7.94306 21.1818 9.52111 22 11.5C21.1818 13.4789 19.8636 15.0569 18.0455 16.2342C16.2273 17.4114 14.2121 18 12 18ZM12 16.2667C13.7121 16.2667 15.2841 15.8369 16.7159 14.9775C18.1477 14.1181 19.2424 12.9589 20 11.5C19.2424 10.0411 18.1477 8.88194 16.7159 8.0225C15.2841 7.16306 13.7121 6.73333 12 6.73333C10.2879 6.73333 8.71591 7.16306 7.28409 8.0225C5.85227 8.88194 4.75758 10.0411 4 11.5C4.75758 12.9589 5.85227 14.1181 7.28409 14.9775C8.71591 15.8369 10.2879 16.2667 12 16.2667Z" fill="%23878B8F"/></g></svg>');
}
/* 驗證時icon的位置 */
.was-validated .form-select.icon:valid:not([multiple]):not([size]),
.was-validated .form-select.icon:invalid:not([multiple]):not([size]){
  background-position: right .35rem center, center right 2.25rem;
  background-size: 24px, calc(.75em + .375rem) calc(.75em + .375rem);
} 
/* search */
.form-control[type="search"]{
  --background-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><rect width="24" height="24" rx="12" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 11C7 8.79086 8.79086 7 11 7C13.2091 7 15 8.79086 15 11C15 13.2091 13.2091 15 11 15C8.79086 15 7 13.2091 7 11ZM11 5C7.68629 5 5 7.68629 5 11C5 14.3137 7.68629 17 11 17C12.2958 17 13.4957 16.5892 14.4765 15.8907L17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L15.8907 14.4765C16.5892 13.4957 17 12.2958 17 11C17 7.68629 14.3137 5 11 5Z" fill="%23878B8F"/></svg>');
  //--
 background: var(--background-icon) no-repeat left 8px center;
 padding-left: 40px;
}

/* input-group */
.input-group-text{
  background-color: #FDF6F3;
  // background-color: #F2F9F9;
}
/* form-check */
.form-check{
    &-input{
      //
      &[type=checkbox]{
        border-radius: 2px;
      }
      // 狀態：checked
      &:checked {
          --bs-border-color: #{$primary};
          border-color: var(--bs-border-color);
          background-color: var(--bs-border-color);    
          
          &:disabled{
            // border-color: $disabled;
            // background-color: $disabled;    

          }
        }        
        // 狀態：disabled
        &:disabled{
          --bs-border-color: #{$disabled};
          opacity: 1;
          
          ~ .form-check-label{
              opacity: 1;
          }
        }
    }
    &:has(.form-control),
    &:has(.form-select){
      .form-check-input{
        margin-top: 12px;
      }
    }
}
/* dropdown */
.dropdown-menu{
  --bs-dropdown-link-hover-bg: #EDFAFF;
}
