
/* Table small */
.table-sm{
    tr>*:first-child{
        // padding-left: $table-cell-padding-x-sm * 2;
    }
    tr>*:last-child{
        // padding-right: $table-cell-padding-x-sm * 2;
    }  
}  
/* 斑馬紋底色 */
.table-striped{
    --bs-table-striped-bg: rgba(0,0,0, .025);
    &>tbody>tr:nth-of-type(odd)>* {
        --bs-table-bg-type: none;
    }
    &>tbody>tr:nth-of-type(even)>* {
        --bs-table-bg-type: var(--bs-table-striped-bg);
    }
}
/* Table hover */
.table-hover{
    --bs-table-hover-bg: #feffe9;
}